In [6]:
import requests
from bs4 import BeautifulSoup, Comment
import pandas as pd

In [2]:
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content
html[:5000]

b'\xef\xbb\xbf<!DOCTYPE html>\n<html lang="en" dir="ltr" class="client-nojs">\n<head>\n<meta http-equiv="X-UA-Compatible" content="Ie=Edge,chrome=1"/> <meta charset="UTF-8" /><title>Glossary:Country codes - Statistics Explained</title>\n<meta name="generator" content="MediaWiki 1.22.5" />\n<link rel="shortcut icon" href="https://ec.europa.eu/eurostat/estat-theme/images/favicon.ico" />\n<link rel="search" type="application/opensearchdescription+xml" href="/eurostat/statistics-explained/opensearch_desc.php" title="Statistics Explained (en)" />\n<link rel="EditURI" type="application/rsd+xml" href="https://ec.europa.eu/eurostat/statistics-explained/api.php?action=rsd" />\n<link rel="alternate" type="application/atom+xml" title="Statistics Explained Atom feed" href="/eurostat/statistics-explained/index.php?title=Special:RecentChanges&amp;feed=atom" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=ext.rtlcite&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=mediawiki.legacy.shared&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=skins.statexpflat&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<meta name="ResourceLoaderDynamicStyles" content="" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<style>a:lang(ar), a:lang(ckb), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }</style>\n\n<script src="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=statexpflat&amp;*"></script>\n<script>if(window.mw){\nmw.config.set( {\n    "wgCanonicalNamespace": "Glossary",\n    "wgCanonicalSpecialPageName": false,\n    "wgNamespaceNumber": 100,\n    "wgPageName": "Glossary:Country_codes",\n    "wgTitle": "Country codes",\n    "wgCurRevisionId": 512615,\n    "wgRevisionId": 512615,\n    "wgArticleId": 1994,\n    "wgIsArticle": true,\n    "wgIsRedirect": false,\n    "wgAction": "view",\n    "wgUserName": null,\n    "wgUserGroups": [\n        "*"\n    ],\n    "wgCategories": [\n        "Geography glossary",\n        "Glossary"\n    ],\n    "wgBreakFrames": false,\n    "wgPageContentLanguage": "en",\n    "wgPageContentModel": "wikitext",\n    "wgSeparatorTransformTable": [\n        "",\n        ""\n    ],\n    "wgDigitTransformTable": [\n        "",\n        ""\n    ],\n    "wgDefaultDateFormat": "dmy",\n    "wgMonthNames": [\n        "",\n        "January",\n        "February",\n        "March",\n        "April",\n        "May",\n        "June",\n        "July",\n        "August",\n        "September",\n        "October",\n        "November",\n        "December"\n    ],\n    "wgMonthNamesShort": [\n        "",\n        "Jan",\n        "Feb",\n        "Mar",\n        "Apr",\n        "May",\n        "Jun",\n        "Jul",\n        "Aug",\n        "Sep",\n        "Oct",\n        "Nov",\n        "Dec"\n    ],\n    "wgRelevantPageName": "Glossary:Country_codes",\n    "wgIsProbablyEditable": false,\n    "wgRestrictionEdit": [],\n    "wgRestrictionMove": [],\n    "wgWikiEditorEnabledModules": {\n        "toolbar": true,\n        "dialogs": false,\n        "hidesig": true,\n        "templateEditor": false,\n        "templates": false,\n        "preview": false,\n        "previewDialog": false,\n        "publish": false,\n        "toc": false\n    },\n    "wgCategoryTreePageCategoryOptions": "{\\"mode\\":0,\\"hideprefix\\":20,\\"showcount\\":true,\\"namespaces\\":false}"\n} );\n}</script><script>if(window.mw){\nmw.loader.implement( "user.options", function () {\nmw.user.options.set( {\n    "ccmeonemails": 0,\n    "cols": 80,\n    "date": "default",\n    "diffonly": 0,\n    "disablemail": 0,\n    "disablesuggest": 0,\n    "editfont": "default",\n    "editondblclick": 0,\n    "editsection": 1,\n    "editsectiononrightclick": 0,\n    "enotifminoredits": 0,\n    "enotifrevealaddr": 0,\n    "enotifusertalkpages": 1,\n    "enotifwatchlistpages": 1,\n    "extendwatchlist": 0,\n    "fancysig": 0,\n    "forceeditsummary": 0,\n    "gender": "unknown",\n    "hideminor": 0,\n    "hidepatrolled": 0,\n    "imagesize": 2,\n    "justify": 0,\n    "math": 6,\n    "minordefault": 0,\n    "newpageshidepatrolled": 0,\n    "nocache": 0,\n    "noconvertlink": 0,\n    "norollbackdiff": 0,\n    "numberheadings": 0,\n    "previewonfirst": 0,\n    "previewontop": 1,\n    "rcdays": 7,\n    "rclimit": 50,\n    "rememberpassword": 0,\n    "rows": 25,\n    "searchlimit": 20,\n    "showhiddencats": 0,\n    "shownumberswatching": 1,\n    "showtoc": 1,\n    "showtoolbar": 1,\n   '

In [3]:
soup = BeautifulSoup(html, 'html.parser')

In [4]:
table = soup.find('table')
table

<table border="1" cellpadding="2" cellspacing="0" style="vertical-align:top;background-color:#f5faff" width="80%">
<tr>
<td>Belgium
</td>
<td>(BE)
</td>
<td>Greece
</td>
<td>(EL)
</td>
<td>Lithuania
</td>
<td>(LT)
</td>
<td>Portugal
</td>
<td>(PT)
</td></tr>
<tr>
<td>Bulgaria
</td>
<td>(BG)
</td>
<td>Spain
</td>
<td>(ES)
</td>
<td>Luxembourg
</td>
<td>(LU)
</td>
<td>Romania
</td>
<td>(RO)
</td></tr>
<tr>
<td>Czechia
</td>
<td>(CZ)
</td>
<td>France
</td>
<td>(FR)
</td>
<td>Hungary
</td>
<td>(HU)
</td>
<td>Slovenia
</td>
<td>(SI)
</td></tr>
<tr>
<td>Denmark
</td>
<td>(DK)
</td>
<td>Croatia
</td>
<td>(HR)
</td>
<td>Malta
</td>
<td>(MT)
</td>
<td>Slovakia
</td>
<td>(SK)
</td></tr>
<tr>
<td>Germany
</td>
<td>(DE)
</td>
<td>Italy
</td>
<td>(IT)
</td>
<td>Netherlands
</td>
<td>(NL)
</td>
<td>Finland
</td>
<td>(FI)
</td></tr>
<tr>
<td>Estonia
</td>
<td>(EE)
</td>
<td>Cyprus
</td>
<td>(CY)
</td>
<td>Austria
</td>
<td>(AT)
</td>
<td>Sweden
</td>
<td>(SE)
</td></tr>
<tr>
<td>Ireland
</td>
<td>(IE)
</td>
<td>Latvia
</td>
<td>(LV)
</td>
<td>Poland
</td>
<td>(PL)
</td></tr></table>

In [15]:
items = [x.text for x in table.find_all('td')]
clean_items = [i.strip('\n') for i in items]
clean_items

['Belgium',
 '(BE)',
 'Greece',
 '(EL)',
 'Lithuania',
 '(LT)',
 'Portugal',
 '(PT)',
 'Bulgaria',
 '(BG)',
 'Spain',
 '(ES)',
 'Luxembourg',
 '(LU)',
 'Romania',
 '(RO)',
 'Czechia',
 '(CZ)',
 'France',
 '(FR)',
 'Hungary',
 '(HU)',
 'Slovenia',
 '(SI)',
 'Denmark',
 '(DK)',
 'Croatia',
 '(HR)',
 'Malta',
 '(MT)',
 'Slovakia',
 '(SK)',
 'Germany',
 '(DE)',
 'Italy',
 '(IT)',
 'Netherlands',
 '(NL)',
 'Finland',
 '(FI)',
 'Estonia',
 '(EE)',
 'Cyprus',
 '(CY)',
 'Austria',
 '(AT)',
 'Sweden',
 '(SE)',
 'Ireland',
 '(IE)',
 'Latvia',
 '(LV)',
 'Poland',
 '(PL)']

In [28]:
countrys = []
country_codes = []

for i in clean_items:
    if i.startswith('('):
        country_codes.append(i[1:-1])
    else:
        countrys.append(i)

In [30]:
country_dict = dict(zip(countrys, country_codes))

In [62]:
country_dict['Great Britain'] = 'GB'

In [63]:
country_dict

{'Belgium': 'BE',
 'Greece': 'EL',
 'Lithuania': 'LT',
 'Portugal': 'PT',
 'Bulgaria': 'BG',
 'Spain': 'ES',
 'Luxembourg': 'LU',
 'Romania': 'RO',
 'Czechia': 'CZ',
 'France': 'FR',
 'Hungary': 'HU',
 'Slovenia': 'SI',
 'Denmark': 'DK',
 'Croatia': 'HR',
 'Malta': 'MT',
 'Slovakia': 'SK',
 'Germany': 'DE',
 'Italy': 'IT',
 'Netherlands': 'NL',
 'Finland': 'FI',
 'Estonia': 'EE',
 'Cyprus': 'CY',
 'Austria': 'AT',
 'Sweden': 'SE',
 'Ireland': 'IE',
 'Latvia': 'LV',
 'Poland': 'PL',
 'Great Britain': 'GB'}

In [64]:
country_df = pd.DataFrame.from_dict(country_dict, orient='index')

In [65]:
country_df = country_df.reset_index()

In [66]:
country_df[0][1] = 'GR'

In [67]:
country_df = country_df.rename(columns={'index':'country', 0:'country_codes'})

In [68]:
country_df

          country country_codes
0         Belgium            BE
1          Greece            GR
2       Lithuania            LT
3        Portugal            PT
4        Bulgaria            BG
5           Spain            ES
6      Luxembourg            LU
7         Romania            RO
8         Czechia            CZ
9          France            FR
10        Hungary            HU
11       Slovenia            SI
12        Denmark            DK
13        Croatia            HR
14          Malta            MT
15       Slovakia            SK
16        Germany            DE
17          Italy            IT
18    Netherlands            NL
19        Finland            FI
20        Estonia            EE
21         Cyprus            CY
22        Austria            AT
23         Sweden            SE
24        Ireland            IE
25         Latvia            LV
26         Poland            PL
27  Great Britain            GB

In [71]:
df_in_process = pd.read_csv('data/processed_df.csv')

In [72]:
df_in_process

,Id,country_code,Age,Job Title
0,45a5a440-d974-0133-15c7-0a81e8b09a82,CZ,18,Unemployed
1,05b4f5e0-de48-0133-670d-0a81e8b09a82,DE,18,Unemployed
2,83c61df0-d94c-0133-03ed-0a81e8b09a82,SE,18,Unemployed
3,ccf1b0b0-d97d-0133-0d84-0a81e8b09a82,FR,18,Data Miner
4,23bbbbb0-d8d1-0133-58d2-0a81e8b09a82,IT,18,Unemployed
...,...,...,...,...
9644,e3efe070-da41-0133-5bfc-0a81e8b09a82,BG,69,Unemployed
9645,161b07b0-db10-0133-0eba-0a81e8b09a82,PT,69,Unemployed
9646,5a9f9a30-da6b-0133-74d1-0a81e8b09a82,HU,69,Unemployed
9647,8e4b56b0-dc23-0133-4b18-0a81e8b09a82,PL,69,Unemployed
9648,a5f22940-da62-0133-3a08-0a81e8b09a82,ES,69,Data Entry Representative

In [75]:
merging_countries = country_df.merge(df_in_process, left_on='country_codes', right_on='country_code')

In [76]:
merging_countries

,country,country_codes,Id,country_code,Age,Job Title
0,Belgium,BE,674d27f0-db16-0133-e93d-0a81e8b09a82,BE,18,Unemployed
1,Belgium,BE,d24f93e0-da48-0133-3d38-0a81e8b09a82,BE,18,Unemployed
2,Belgium,BE,1afd0e10-d9ae-0133-8d6b-0a81e8b09a82,BE,19,Unemployed
3,Belgium,BE,3c862650-da54-0133-8d15-0a81e8b09a82,BE,19,Data Entry Associate
4,Belgium,BE,fb8cd6f0-db3c-0133-4604-0a81e8b09a82,BE,20,Unemployed
...,...,...,...,...,...,...
9644,Great Britain,GB,98a89ce0-da38-0133-493e-0a81e8b09a82,GB,69,Unemployed
9645,Great Britain,GB,fef72890-dbf6-0133-9abe-0a81e8b09a82,GB,69,Unemployed
9646,Great Britain,GB,c2b18830-db0e-0133-8503-0a81e8b09a82,GB,69,Unemployed
9647,Great Britain,GB,70c22320-daf5-0133-3121-0a81e8b09a82,GB,69,Unemployed
9648,Great Britain,GB,e04a2200-dbb7-0133-516a-0a81e8b09a82,GB,69,Unemployed